.header {
  position: fixed;
  z-index: 900000; }
  .header #navigation {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background: #ffffff;
    width: 1920px; }
    .header #navigation .flex_container {
      display: flex;
      justify-content: center;
      margin-right: 4px;
      height: 100px; }
      .header #navigation .flex_container .flex_element {
        padding-left: 25px;
        margin-top: 45px;
        color: #000000;
        text-decoration: none;
        cursor: pointer; }
      .header #navigation .flex_container .flex_element_pic {
        margin-top: 15px;
        padding-left: 187px;
        padding-right: 187px;
        cursor: pointer; }

.card {
  background: #ffffff;
  position: relative;
  display: block;
  width: 300px;
  height: 390px;
  z-index: 450;
  margin: -550px 0 0 615px;
  border-radius: 10px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15); }

.heading_card {
  color: #5363db;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  padding-left: 35px;
  padding-top: 40px; }

.input {
  padding-top: 30px;
  padding-left: 30px; }

.input_name {
  width: 230px;
  height: 50px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  background: #f2f2f2;
  border: 0; }

.try_it {
  width: 170px;
  height: 50px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  border: 0;
  margin-top: 16px;
  box-shadow: 2.121px 2.121px 5px 0 rgba(0, 0, 0, 0.15);
  margin-left: 90px;
  background: #5b6ceb;
  color: white;
  outline: 0;
  cursor: pointer; }

.try_it:hover {
  transition: 0.5s;
  background: #475bf1; }

.block-2_text {
  font-size: 48px;
  width: 500px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: -310px;
  margin-left: 400px;
  text-align: left; }

.block-2_text2 {
  font-size: 40px;
  width: 300px;
  font-family: "Freestyle Script", sans-serif;
  color: white;
  line-height: 1.5;
  margin-top: 0;
  margin-left: 400px;
  text-align: left; }

.block-3 {
  height: 1025px;
  list-style-type: none; }
  .block-3 .headline-3 {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    color: #5363db;
    margin-top: 150px;
    text-align: center; }
  .block-3 .subheadline-3 {
    font-family: "Freestyle Script", sans-serif;
    font-size: 40px;
    color: #838383;
    margin-top: 20px;
    text-align: center; }
  .block-3 .program_1 {
    margin-left: 375px; }
    .block-3 .program_1 .program_1_1 {
      width: 300px;
      height: 300px;
      margin-top: -303px;
      margin-left: 270px;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1); }
      .block-3 .program_1 .program_1_1 .main_1 {
        margin-left: 30px;
        font-size: 25px;
        color: #838383;
        font-weight: bold;
        padding-top: 25px;
        font-family: "Lato", sans-serif; }
      .block-3 .program_1 .program_1_1 .sub-main_1 {
        margin-left: 30px;
        margin-top: 25px;
        font-size: 20px;
        width: 250px;
        color: #838383;
        font-family: "Crimson Text", serif; }
  .block-3 .program_2 {
    margin-left: 1000px;
    margin-top: -633px; }
    .block-3 .program_2 .program_1_2 {
      width: 300px;
      height: 300px;
      margin-top: -303px;
      margin-left: 270px;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1); }
      .block-3 .program_2 .program_1_2 .main_1 {
        margin-left: 30px;
        font-size: 25px;
        color: #838383;
        font-weight: bold;
        padding-top: 25px;
        font-family: "Lato", sans-serif; }
      .block-3 .program_2 .program_1_2 .sub-main_1 {
        margin-left: 30px;
        margin-top: 25px;
        font-size: 20px;
        width: 250px;
        color: #838383;
        font-family: "Crimson Text", serif; }
  .block-3 .program_3 {
    margin-left: 1000px; }
    .block-3 .program_3 .program_1_2 {
      width: 300px;
      height: 300px;
      margin-top: -303px;
      margin-left: 270px;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1); }
      .block-3 .program_3 .program_1_2 .main_1 {
        margin-left: 30px;
        font-size: 25px;
        color: #838383;
        font-weight: bold;
        padding-top: 25px;
        font-family: "Lato", sans-serif; }
      .block-3 .program_3 .program_1_2 .sub-main_1 {
        margin-left: 30px;
        margin-top: 25px;
        font-size: 20px;
        width: 250px;
        color: #838383;
        font-family: "Crimson Text", serif; }

.block-4 {
  width: 1920px;
  height: 700px; }
  .block-4 .picture_1 {
    width: 480px;
    margin-top: -150px; }
  .block-4 .picture_2 {
    width: 480px;
    margin-top: -353px;
    margin-left: 25%; }
  .block-4 .picture_3 {
    width: 480px;
    margin-top: -353px;
    margin-left: 50%; }
  .block-4 .picture_4 {
    width: 480px;
    margin-top: -353px;
    margin-left: 75%; }
  .block-4 .picture_5 {
    width: 480px;
    margin-top: -3px; }
  .block-4 .picture_6 {
    width: 480px;
    margin-top: -353px;
    margin-left: 480px; }
  .block-4 .picture_6_hover {
    width: 480px;
    margin-top: -353px;
    margin-left: 480px; }
  .block-4 .picture_7 {
    width: 480px;
    margin-top: -353px;
    margin-left: 960px; }
  .block-4 .picture_8 {
    width: 480px;
    margin-top: -353px;
    margin-left: 1440px; }

.block-5 {
  margin-top: 100px; }
  .block-5 .about_us {
    width: 470px;
    text-align: left;
    height: 175px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #5363db;
    margin-left: 375px; }
  .block-5 .lorem {
    font-size: 14px;
    margin-top: 5px;
    color: #555555;
    line-height: 1.571; }
  .block-5 .photo_slider {
    margin-left: 975px;
    margin-top: -200px; }
  .block-5 .arrow_prev {
    margin-left: 955px;
    margin-top: -200px;
    position: absolute; }
  .block-5 .arrow_next {
    margin-left: 1515px;
    margin-top: -205px;
    position: absolute;
    transform: rotate(180deg); }

.block-6 {
  margin-top: 50px;
  width: 1920px; }

.block-7 .card_price_1, .block-7 .card_price_2, .block-7 .card_price_3 {
  width: 370px;
  height: 493px;
  box-shadow: 0 9px 50px 0 rgba(0, 0, 0, 0.1); }

.block-7 .card_price_1 .card_upperblock_1, .block-7 .card_price_2 .card_upperblock_2, .block-7 .card_price_3 .card_upperblock_3 {
  background-color: #5363db;
  left: 375px;
  width: 370px;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.block-7 .card_price_1 .card_upperblock_1 .dollar, .block-7 .card_price_2 .card_upperblock_2 .dollar, .block-7 .card_price_3 .card_upperblock_3 .dollar {
  margin-left: 100px;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  color: white;
  padding-top: 63px;
  font-weight: bold; }

.block-7 .card_price_1 .card_upperblock_1 .price, .block-7 .card_price_2 .card_upperblock_2 .price, .block-7 .card_price_3 .card_upperblock_3 .price {
  font-size: 67px;
  color: white;
  padding-top: 45px;
  font-family: "Open Sans", sans-serif;
  margin-left: 130px;
  font-weight: bold; }

.block-7 .card_price_1 .card_upperblock_1 .per_month, .block-7 .card_price_2 .card_upperblock_2 .per_month, .block-7 .card_price_3 .card_upperblock_3 .per_month {
  font-size: 18px;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-left: 210px;
  margin-top: -22px;
  font-weight: bold; }

.block-7 {
  display: flex;
  width: 61%;
  padding-left: 19.6%; }
  .block-7 .card_price_1 {
    margin-top: 100px;
    float: left; }
    .block-7 .card_price_1 .card_upperblock_1 .dollar {
      float: left; }
    .block-7 .card_price_1 .features_1 {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      text-transform: uppercase;
      margin-top: 51px; }
      .block-7 .card_price_1 .features_1 .mt-101 {
        margin-top: 51px; }
    .block-7 .card_price_1 .buy_now {
      border-radius: 20px;
      background-color: #5363db;
      width: 170px;
      height: 50px;
      border: 0;
      margin-top: 51px;
      margin-left: 100px;
      cursor: pointer;
      outline: none; }
    .block-7 .card_price_1 .buy_text {
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: white; }
    .block-7 .card_price_1 .buy_now:hover {
      background: #475bf1;
      transition: 0.5s;
      box-shadow: 0 0 10px #475bf1; }
  .block-7 .card_price_2 {
    margin-top: 100px;
    margin-left: 30px;
    float: left; }
    .block-7 .card_price_2 .card_upperblock_2 .dollar {
      float: left; }
    .block-7 .card_price_2 .features_2 {
      margin-top: 51px;
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      text-transform: uppercase; }
      .block-7 .card_price_2 .features_2 .mt-101 {
        margin-top: 51px; }
    .block-7 .card_price_2 .buy_now {
      border-radius: 20px;
      background-color: #5363db;
      width: 170px;
      height: 50px;
      border: 0;
      margin-top: 51px;
      margin-left: 100px;
      cursor: pointer;
      outline: none; }
    .block-7 .card_price_2 .buy_text {
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: white; }
    .block-7 .card_price_2 .buy_now:hover {
      background: #475bf1;
      transition: 0.5s;
      box-shadow: 0 0 10px #475bf1; }
  .block-7 .card_price_3 {
    margin-top: 100px;
    margin-left: 30px;
    float: left; }
    .block-7 .card_price_3 .card_upperblock_3 .dollar {
      float: left; }
    .block-7 .card_price_3 .features_3 {
      margin-top: 51px;
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      text-transform: uppercase; }
      .block-7 .card_price_3 .features_3 .mt-101 {
        margin-top: 51px; }
    .block-7 .card_price_3 .buy_now {
      border-radius: 20px;
      background-color: #5363db;
      width: 170px;
      height: 50px;
      border: 0;
      margin-top: 51px;
      margin-left: 100px;
      cursor: pointer;
      outline: none; }
    .block-7 .card_price_3 .buy_text {
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: white; }
    .block-7 .card_price_3 .buy_now:hover {
      background: #475bf1;
      transition: 0.5s;
      box-shadow: 0 0 10px #475bf1; }

.block-8 {
  border-radius: 8px;
  box-shadow: 0 9px 50px 0 rgba(0, 0, 0, 0.1);
  width: 1170px;
  height: 250px;
  margin-left: 375px;
  z-index: 900;
  background: white;
  margin-top: 100px; }
  .block-8 .trainer {
    margin-top: 50px;
    margin-left: 65px; }
  .block-8 .blog_1 {
    font-size: 60px;
    font-family: "Open Sans", sans-serif;
    color: #5363db;
    margin-left: 230px;
    margin-top: -160px; }
  .block-8 .line_2 {
    border-left: 2px solid #555555;
    height: 75px;
    width: 1px;
    margin-left: 240px; }
  .block-8 .blog_text {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 14px;
    width: 640px;
    margin-left: 275px;
    margin-top: -127px; }
  .block-8 .trainer_text {
    margin-left: 275px;
    margin-top: 75px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #555555; }
  .block-8 .Laura {
    margin-left: 275px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-top: 5px;
    color: #5363db; }
  .block-8 .blog_2 {
    font-size: 60px;
    font-family: "Open Sans", sans-serif;
    color: #5363db;
    margin-left: 900px;
    margin-top: -150px; }
  .block-8 .trainer_slider {
    width: 200px;
    height: 72px;
    margin-top: -67px;
    margin-left: 300px;
    z-index: 900; }
    .block-8 .trainer_slider .name_trainer {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      color: #555555;
      margin-left: 85px;
      margin-top: -60px; }
    .block-8 .trainer_slider .trainer_2 {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      margin-left: 85px;
      margin-top: 15px; }
  .block-8 .arrow_prev_2 {
    margin-left: 200px;
    margin-top: 122px; }
  .block-8 .arrow_next_2 {
    margin-left: 300px; }
  .block-8 .bullet {
    margin-left: 1200px;
    margin-top: -220px; }

.lotos {
  margin-left: 650px;
  margin-top: -400px; }

.block-9 .mt-975 .sign .place, .block-9 .mt-975 .sign_2 .phone, .block-9 .mt-975 .sign_3 .mail, .block-9 .mt-975 .sign_4 .site {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: white; }

.block-9 {
  z-index: 900;
  position: absolute;
  margin-top: -400px;
  width: 1920px;
  height: 451px;
  background: #5b6ceb; }
  .block-9 .ml-375 {
    margin-left: 375px;
    float: left; }
    .block-9 .ml-375 .about {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      color: white;
      margin-top: 100px; }
    .block-9 .ml-375 .lorem_2 {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: white;
      margin-top: 60px;
      line-height: 1.5;
      width: 470px; }
    .block-9 .ml-375 .media {
      margin-top: 70px;
      font-size: 14px; }
      .block-9 .ml-375 .media img {
        margin-left: 5px;
        cursor: pointer; }
  .block-9 .mt-975 {
    float: left;
    width: 500px;
    height: 180px;
    margin-left: 130px;
    margin-top: 100px; }
    .block-9 .mt-975 .contact_us {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      color: white; }
    .block-9 .mt-975 .sign {
      margin-top: 50px; }
      .block-9 .mt-975 .sign .place {
        margin-left: 25px;
        margin-top: -25px;
        line-height: 1.5; }
    .block-9 .mt-975 .sign_2 {
      margin-top: 50px; }
      .block-9 .mt-975 .sign_2 .phone {
        margin-left: 25px;
        margin-top: -25px;
        line-height: 1.5; }
    .block-9 .mt-975 .sign_3 {
      margin-left: 300px;
      margin-top: -128px; }
      .block-9 .mt-975 .sign_3 .mail {
        margin-left: 30px;
        margin-top: -20px;
        line-height: 1.5; }
    .block-9 .mt-975 .sign_4 {
      margin-left: 300px;
      margin-top: 70px; }
      .block-9 .mt-975 .sign_4 .site {
        margin-left: 30px;
        margin-top: -25px;
        line-height: 1.5; }

.block-10 {
  margin-top: 50px;
  height: 100px;
  width: 100%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*# sourceMappingURL=YogaCSS.css.map */
